.chat-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    overflow-y: auto;
}

.chat-input {
    width: 50%;
    margin-top: 15px;
}

.logout-btn {
    margin-left: auto;
}

.chat-header {
    display: flex;
    flex-direction: row;
}

.chat-header h1 {
    width: fit-content;
}